<!-- <button type="button" (click)='productDetails()' class="btn btn-signup-color mt-3 text-white">Product Details</button> -->
<div class="row justify-content-center">
    <button type="button" (click)='billing()' class="btn btn-signup-color mt-3 pr-5 pl-5 pt-2 pb-2 mb-3text-white">Billing</button>
</div>
<div class="row justify-content-center">
    <strong class="align-middle mr-3">Offer Management : </strong>

    <a class="btn btn-primary mr-3" routerLink="/offer-add">Add offer</a>
    <a class="btn btn-info" routerLink="/offer-update">Update offer</a>
</div>

<!-- <div class="row justify-content-center">
    <div class="row justify-content-around">
        <div>
            <button type="button" (click)='billing()' class="btn btn-signup-color mt-3 text-white">Billing</button>
        </div>
        <div>
            <a class="btn btn-info" routerLink="/productListView">Products</a>
        </div>
    </div>
    <div class="row justify-content-around">
        <div>
            <a class="btn btn-primary mr-3" routerLink="/offer-add">Add offer</a>
        </div>
        <div>
            <a class="btn btn-info" routerLink="/offer-update">Update offer</a>
        </div>
    </div>
</div> -->
<app-product-item></app-product-item>