<div class="container-fluid">
    <section class="jumbotron">
        <div class="row">
            <h1 class="text-primary ">Find Product </h1>
            <div class="input-group md-form form-sm form-1 pl-0">
                <div class="input-group-prepend">
                    <span class="input-group-text purple lighten-3" id="basic-text1"><i class="material-icons align-middle">search</i> </span>
                </div>
                <input class="form-control my-0 py-1" type="text" placeholder="Search" [(ngModel)]="searchData" (keyup)="filterData()" aria-label="Search">
            </div>
        </div>
        <div class="row p-2">
            <div>
                <label for="sort" class="text-danger"><strong>Sort By</strong> </label>
                <select id="sort" name="sort" class="custom-select" [(ngModel)]="sortType">
                <option value="0" selected="true" hidden>--select--</option>
                <option value="name">By Name</option>
                <option value="price">By Price</option>
                <option value="stock">By Availability</option>
                <option value="popular">By Popularity</option>
                </select>

            </div>
            <button class="btn btn-primary form-inline" (click)="sort()" type='button'>Sort</button>
        </div>
    </section>
</div>